.galeria_display{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width:1024px){
  .galeria_item{
    display: none;
  }

  .galeria_display{
    height: 68vh;
  }


}
@media screen and (min-width:1024px){
  .galeria-container{
    display: flex;
  }
  .galeria_item{
    height: 48px;
    width: 48px;
    padding: 2px;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    margin-top:8px;
  }
  
  .galeria_item:first-child{
    margin-top: 0;
  }
  
  .galeria_item-img{
    width: 44px;
    height: 44px;
    object-fit: contain;
    min-width: 44px;
    min-height: 44px;
  
  }
  
  .galeria_item:hover{
    border: 2px solid #3483fa;
  }

  .galeria-img{
    width: 700px;
    height: 500px;
    margin-left: 15px;
  }
}