.producto{
  /* margin-top: 10px; */
  width: 100%;
  padding: 16px;
}

.verify-icon{
  color: #3483fa;
}

.verify{
  display: flex;
  align-items: center;
}

.verify span{
  color: #3483fa;
  margin:0 2px;
}


@media screen and (max-width:1023px){
  .title{
    font-size: 16px;
    font-weight: normal;
  }

  .verify,.subtitle{
    font-size: 12px;
  }
}
@media screen and (min-width:1024px) {
  .producto{
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
    display: flex;
  }

  .texto{
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
  }

  .container-title{
    display: flex;
    justify-content: space-between;
  }

  .title{
    font-size: 22px;
    width: 280px;
    font-weight: normal;
  }

  .subtitle{
    font-size: 14px;
    color: rgba(0,0,0,.55)
  }

  .fav{
    height: fit-content;
  }

  .heart-icon,.heart-icon-active{
    font-size: 25px;
    color: #3483fa;
    cursor: pointer;
  }

  .verify{
    font-size: 14px;
    color: rgba(0,0,0,.55);
  }



}